*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../img/backgrounds/round.png");
}
@import url("pym.css");
@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand.ttf);
}
.text-responsive{
    color: #289BFF;
    text-shadow: 0 0 2px #FFFFFF;
}
.pb-image{
    padding-bottom: 80px;
}
.container{
	width: 100%!important;
}
.menu{
	border-bottom: 2px solid #A9F4FF;
	text-orientation: sideways;
}
.menu ul{
	margin: 0;
}
.menu ul li{
	margin: 15px 15px 0 0;
	list-style: none;
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	color: #8C8C8C;
    text-shadow: 1px 0 3px #48D6FF;
}
.menu ul li a:hover{
    color: #00FFE4;
    text-shadow: 1px 1px 2px #878787;
}
.carousel-item img{
	height: 640px;
}
.carousel-indicators li{
	border-radius: 50%;
	width: 12px;
	height: 12px;
	opacity: 0.6;
}
.carousel-caption h5{
	font-weight: bolder;
}
.carousel-caption p{
	text-shadow: -1px 1px 2px #000;
}
.contacto{
    background-image: url("../img/backgrounds/form-image.jpg");
    color: #fff;
    border-radius: 20px;
}
#texto-presentacion{
	margin-top: 20px;
}
#texto-presentacion h5{
	font-size: 30px;
	border: 1px solid #18FF30;
	margin: 40px auto 60px auto;
	text-align: center;
	padding: 15px 0 15px 0;
	border-radius: 20px;
	font-weight: 600;
}
#texto-presentacion p{
	font-family: Quicksand;
	font-size: 25px;
	color: #3B3839;
	font-weight: 200;
	line-height: 28px;
}
.text-mail{
    color: rgba(255,255,255, 0.7);
}
.presentacion{
	background-color: #fff; 
}
.presentacion img{
	width: 100%;
	height: 80%;
	margin-top: 40px;
}
.habilidades-titulo{
	border-radius: 20px;
	border: 2px dotted #11FFD3;
	margin: auto;
}
.border-amarillo{
	border: 1px solid #FAFF00;
}
.border-violeta{
	border: 1px solid #AD00E8;
}
.border-celeste{
	border: 1px solid #00C2FF;
}
.texto-icono{
	color: #6B6B6B;
	border-radius: 40px;
	font-family: FreeSans;
}
.titulo-form{
    text-shadow: 0 0 3px #DEFFED, 0 0 5px #00FFEB;
    margin: 15px 30px;
}