.pt-xs{
	padding-top: 5px;
}
.pt-s{
	padding-top: 10px;
}
.pt{
	padding-top: 15px;
}
.pt-m{
	padding-top: 20px;
}
.pt-l{
	padding-top: 25px;
}
.pt-xl{
	padding-top: 40px;
}
.pt-xxl{
	padding-top: 50px
}
.pr-xs{
	padding-right: 5px;
}
.pr-s{
	padding-right: 10px;
}
.pr{
	padding-right: 15px;
}
.pr-m{
	padding-right: 20px;
}
.pr-l{
	padding-right: 25px;
}
.pr-xl{
	padding-right: 40px;
}
.pr-xxl{
	padding-right: 50px
}
.pb-xs{
	padding-bottom: 5px;
}
.pb-s{
	padding-bottom: 10px;
}
.pb{
	padding-bottom: 15px;
}
.pb-m{
	padding-bottom: 20px;
}
.pb-l{
	padding-bottom: 25px;
}
.pb-xl{
	padding-bottom: 40px;
}
.pb-xxl{
	padding-bottom: 50px
}
.pl-xs{
	padding-left: 5px;
}
.pl-s{
	padding-left: 10px;
}
.pl{
	padding-left: 15px;
}
.pl-m{
	padding-left: 20px;
}
.pl-l{
	padding-left: 25px;
}
.pl-xl{
	padding-left: 40px;
}
.pl-xxl{
	padding-left: 50px
}
.mt-xs{
	margin-top: 5px;
}
.mt-s{
	margin-top: 10px;
}
.mt{
	margin-top: 15px;
}
.mt-m{
	margin-top: 25px;
}
.mt-l{
	margin-top: 35px;
}
.mt-xl{
	margin-top: 40px;
}
.mt-xxl{
	margin-top: 50px
}
.mr-xs{
	margin-right: 5px;
}
.mr-s{
	margin-right: 10px;
}
.mr{
	margin-right: 15px;
}
.mr-m{
	margin-right: 20px;
}
.mr-l{
	margin-right: 25px;
}
.mr-xl{
	margin-right: 40px;
}
.mr-xxl{
	margin-right: 50px
}
.mb-xs{
	margin-bottom: 5px;
}
.mb-s{
	margin-bottom: 10px;
}
.mb{
	margin-bottom: 15px;
}
.mb-m{
	margin-bottom: 20px;
}
.mb-l{
	margin-bottom: 25px;
}
.mb-xl{
	margin-bottom: 40px;
}
.mb-xxl{
	margin-bottom: 50px
}
.ml-xs{
	margin-left: 5px;
}
.ml-s{
	margin-left: 10px;
}
.ml{
	margin-left: 15px;
}
.ml-m{
	margin-left: 20px;
}
.ml-l{
	margin-left: 25px;
}
.ml-xl{
	margin-left: 40px;
}
.ml-xxl{
	margin-left: 50px
}